name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      run: |
        docker buildx build \
          -t 1032230094/my-image1:latest \
          --push \
          .



    - name: Run Tests
      run: |
        docker run --rm my-image1:latest.
